* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

body, html {
  height: 100vh;
}

body {
  font-family: sans-serif;
}

body .section {
  height: 100vh;
  position: relative;
  padding-top: 100px;
}

body .section .buttonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

body .section .buttonContainer button {
  width: 60px;
  height: 100px;
  margin-bottom: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

body nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #bbb;
  background: white;
}

body nav .burger {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

body nav .burger .bar {
  display: block;
  width: 60px;
  height: 1px;
  background: #bbb;
  position: absolute;
  top: 50%;
  left: 5px;
  transition: .5s;
}

body nav .burger .bar::after, body nav .burger .bar::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #bbb;
  transform-origin: center;
  transition: .5s;
}

body nav .burger .bar::after {
  top: 15px;
}

body nav .burger .bar::before {
  top: -15px;
}

body nav .burger .st1::after {
  top: 18px;
}

body nav .burger .st1::before {
  top: -18px;
}

body nav .burger .st2 {
  background: transparent;
}

body nav .burger .st2::after {
  top: 0;
  transform: rotate(15deg);
}

body nav .burger .st2::before {
  top: 0;
  transform: rotate(-195deg);
}

body nav .burger .st3 {
  background: transparent;
}

body nav .burger .st3::after {
  transform: rotate(45deg);
}

body nav .burger .st3::before {
  transform: rotate(-45deg);
}

body nav .navbar {
  display: block;
  background: #bbb;
  width: 50%;
  margin: auto;
  transform: translateY(-100%);
  transition: .5s;
  opacity: 0;
}

body nav .navbar li {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

body nav .showNav {
  transform: translateY(0);
  opacity: 1;
}

body .container {
  width: 80%;
  margin: 10px auto;
  display: flex;
}

@media screen and (max-width: 990px) {
  body .container {
    width: 92%;
    display: block;
  }
}

body .container .first, body .container .second, body .container .third {
  margin: 20px;
}

body .container .first {
  flex: 1;
}

body .container .second {
  flex: 2;
}

body .container .third {
  flex: 1;
}
